/node_modules
/public/hot
/public/uploads
/public/storage
/public/assets/public
/public/assets/admin
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
package-lock.json
public/mix-manifest.json
