.panel-body{
    border-bottom: 1px solid #dbdbdb;
    border-left: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
    padding: 2rem;
}

.account-page {
    nav.tabs {
        margin-bottom:2rem;
    }
    .account-nav.tabs a {
        padding-top:0.8em;
        padding-bottom: 0.8em;
    }
    .page-heading{
        .level{
            .level-left{
                .media{
                    @include mobile {
                        display:block;
                        .media-left{
                            margin-right:0 !important;
                            figure{
                                margin:0 auto 1rem;
                            }
                        }
                        .media-content{
                            text-align: center;
                            .level{
                                justify-content: center;
                            }
                        }
                        .media-right{
                            margin-left: 0;
                        }
                    }
                }
            }
            .level-right{
                .stats{
                    display: flex;
                    justify-content: center;
                    .stats-item{
                        margin-right: 1rem;
                        text-align: center;
                        &:last-child{
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }
    .page-content{
        .main-heading.account-heading{
            text-align: left;
            border-bottom: 1px solid #dbdbdb;
            padding-left: 1rem;
            padding-bottom: 1.5rem;
            h3{
                font-weight: 500 !important;
                font-size: 1.8rem;
                margin: 0;
                span{
                    color: $theme-color;
                }
            }
            @include mobile{
                /*padding-left: 0;
                border-top: 1px solid #dbdbdb;
                padding: 1.5rem 0;*/
            }
        }

        .form-widget{
            display: flex;
            flex-direction: row;
            border-bottom: 1px solid #dbdbdb;
            padding-bottom: 2rem;
            margin-bottom: 2rem;
            @include mobile{
                padding-bottom: 1.5rem;
                margin-bottom: 1.5rem;
                &:first-child{
                    padding-top:0 !important;
                }
            }
            aside{
                flex: 1;
                padding-top: 5px;
                min-width: 210px;
                padding-right:1.5rem;
                .title{
                    font-weight: normal !important;
                    font-size: 1.3rem;
                    margin-bottom: 1.8rem;
                }
                .subtitle{
                    font-size: .9rem;
                }
                @include mobile {
                    margin-bottom:1rem;
                }

            }
            .form-widget-content{
                width: auto;
                flex: 3;
            }
            @include mobile {
                flex-direction: column;
            }
        }
        .form-buttons{
            margin:2rem 0 0;
            .field{
                float: right;
            }
        }
    }
    .notification{
        margin-bottom:2rem;
    }
}