.navbar-item img {
    max-height: 2.75rem;
}

.navbar-item,
.navbar-link {
    /* display: -webkit-box; */
}

header.header {
    margin: 10px;
}

.button.is-primary {
    background-color: #f6672e;
    border-color: transparent;
    color: #fff;
}

.button.is-primary.is-hovered,
.button.is-primary:hover {
    background-color: #ec7140;
    border-color: transparent;
    color: #fff;
}

.button.is-info.is-outlined {
    background-color: transparent;
    border-color: #044ead;
    color: #044ead;
}

.button.is-info {
    background-color: #044ead;
    border-color: transparent;
    color: #fff;
}

.button.is-info.is-outlined:focus,
.button.is-info.is-outlined:hover {
    background-color: #165bb4;
    border-color: #165bb4;
    color: #fff;
}

.button.is-info.is-hovered,
.button.is-info:hover {
    background-color: #165bb4;
    border-color: transparent;
    color: #fff;
}

.button.is-light.is-search {
    color: #044ead;
}

.input.is-search {
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    background-color: #f5f5f5;
    border-color: transparent;
    color: #363636;
}

#category-listing .card {
    text-align: center;
    border-radius: 10px;
}

#category-listing .card .card-content {
    padding: 1.0rem;
}

#category-listing .card .card-content strong {
    color: #f6672e;
}

#category-listing .card .card-content img {
    width: 60px
}


/*#series-listing .card {
    border-radius: 5px;
}*/

#series-listing .tabs.is-toggle li.is-active a {
    color: #363636;
    z-index: 1;
    background-color: #f5f5f5;
    border-color: #b5b5b5;
}

#series-listing .series-item .card-content .title {
    font-size: 1.1rem;
    margin-bottom: 0.75rem;
    height: 38px;
    overflow: hidden;
}

#series-listing .series-item .card-content .lecturer {
    font-size: 0.78rem;
}

#series-listing .series-item .card-footer .card-footer-item {
    padding: 0.5rem;
}

#series-listing .series-item .badge {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    pointer-events: none;
    position: absolute;
    top: 50%;
    z-index: 1;
    background: #f6672e;
    color: #fff;
    border-radius: 3px;
    font-size: 13px;
    padding: 3px 8px;
    min-width: inherit;
    display: inline-block;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;
    vertical-align: baseline;
}


/*#series-listing .series-item .badge:after {
    border-radius: 3px;
    right: -4px;
    background: inherit;
    content: "";
    height: 11px;
    position: absolute;
    top: 2px;
    transform: rotate(45deg);
    width: 11px;
    z-index: 1;
    display: block;
}*/

#series-listing .tabs:not(:last-child),
#series-listing-thumb .tabs:not(:last-child) {
    margin-bottom: 3rem;
}

.series-card {
    position: relative;
}

.series-card>a {
    position: relative;
    display: block;
}

.series-card-content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 20px 25px 20px;
    width: 100%;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    z-index: 10;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background: rgba(0, 0, 0, .6);
    -webkit-transition: opacity .6s;
    transition: opacity .6s;
}

.series-card-skill {
    margin-bottom: .6em
}

.series-card-skill p {
    margin-bottom: 0;
    padding: 4px 5px;
    color: #fff;
    font-size: .8em;
    background: #f6672e;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
}

.series-card .title {
    color: #fff;
    font-size: 1.2rem;
    margin-bottom: 0px;
    height: 40px;
    overflow: hidden;
}

.series-card .lecturer {
    font-size: 0.78rem;
    color: #ccc;
}

.fs-smallest {
    font-size: .7em;
}

.is-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.w-100 {
    width: 100%;
}

.in-caps {
    text-transform: uppercase;
}

.is-muted {
    color: #919499;
}

.is-bold {
    font-weight: 700;
}

.flex {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.color-grey-darker {
    color: #4d545d!important;
}

#testimonials .quote {
    position: relative;
    margin-bottom: 15px;
}

#testimonials .quote .subtitle {
    font-style: italic;
    margin-top: 50px;
    position: relative;
    z-index: 2;
    font-weight: 400;
}

#testimonials .quote img {
    position: absolute;
    z-index: 1;
    top: -60px;
    left: -80px;
    width: 140px;
    height: 100px;
}

#testimonials .media img {
    border-radius: 50%;
}

section.call-out-box {
    background: #f6672e url(../img/icons-bg.png);
}

section.call-out-box .content h2 {
    color: #fff;
    font-weight: 500;
    line-height: 1.125;
}

section.call-out-box .subtitle {
    color: #f1f1f1;
}

section.call-out-box .button.is-primary.is-outlined {
    background-color: transparent;
    border-color: #f5f5f5;
    color: #fff;
}

footer .footer-links-list li {
    line-height: 1.95em;
}

footer .footer-links-list a {
    color: #4a4a4a;
    font-size: 1.1rem;
}

footer .footer-social-icons li {}

footer .footer-social-icons a {
    color: #fff;
    display: inline-block;
    background: #363636;
    margin-right: 1rem;
    /* padding: 10px; */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}

.footer {
    padding: 3rem 0 0;
}

.footer-base {
    margin-top: 3rem;
    padding: 3rem 0 3rem;
}

.footer-base-links li {
    margin-right: 2rem
}

.footer-base-links a {
    color: #fff
}