.section {
    padding: 3rem 1.5rem;
}

.notices.has-custom-container {
    position: fixed;
}



a {
    color: #1b8aec;
    cursor: pointer;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, .title {
    font-family: $font-family-headings;
}

body{
    font-family: $font-family-body;
}

.main-heading {
    text-align: center;
    margin-bottom: 2em;
}

.main-heading p {
    font-size: 16px;
    color: #707c88;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.main-heading .title {
    color: #35434e;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 10px;
}

.main-heading .title>span {
    color: #1b8aec;
}

.tabs.is-toggle li.is-active a {
    background-color: #1b8aec;
    border-color: #1b8aec;
    color: #fff;
    z-index: 1;
}

.tabs li.is-active a {
    border-bottom-color: #3273dc;
    color: #1b8aec;
}

.navbar-item img {
    max-height: 2.75rem;
}

.navbar-item,
.navbar-link {
    /* display: -webkit-box; */
}

header.header .navbar{
     padding:10px 0;
}

header.header.has-navbar-fixed-top .navbar{
    padding:0;
}

.social-icons li {}

.social-icons a {
    color: #043da4;
    display: inline-block;
    background: transparent;
    margin-right: 1rem;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border: thin solid #043da4;
}


.button.is-light.is-search {
    color: #044ead;
}


.fs-smallest {
    font-size: .7em;
}

.is-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.w-100 {
    width: 100%;
}

.in-caps {
    text-transform: uppercase;
}

.is-muted {
    color: #919499;
}

.is-bold {
    font-weight: 700;
}

.flex {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.color-grey-darker {
    color: #4d545d!important;
}


section.call-out-box {
    background: #043da4 url(https://www.transparenttextures.com/patterns/dark-dot.png) repeat;
}

section.call-out-box .content h2 {
    color: #fff;
    font-weight: 500;
    line-height: 1.125;
}

section.call-out-box .subtitle {
    color: #f1f1f1;
}

section.call-out-box .button.is-primary.is-outlined {
    background-color: transparent;
    border-color: #f5f5f5;
    color: #fff;
}

footer{
    color: #999;
}

footer .footer-links-list li {
    line-height: 1.95em;
}

footer .footer-logo{
margin-bottom: 20px;
}



footer .footer-links-list a {
    color: #aaa;
    font-size: 1.1rem;
}

footer .title {
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.125;
}

.footer-contact-info {
    position: relative;
    z-index: 2;
}
 .footer-contact-info:before {
    position: absolute;
    bottom: -30px;
    left: 0;
    content: "";
    /*background: url(../img/footer-map.png);*/
    background-repeat: no-repeat;
    z-index: -1;
    right: 0;
    top: 0;
}
.footer-contact-info li {
    position: relative;
    padding-left: 35px;
    margin-bottom: 16px;
    padding-bottom: 17px;
    border-bottom: 1px solid #dbdbdb;
}
.footer-contact-info li:last-child{
    margin-bottom: 0;
}
.footer-contact-info li .icon-holder {
    position: absolute;
    top: 2px;
    left: 0;
}
.footer-contact-info li .icon-holder span:before {
    font-size: 18px;
    line-height: 20px;
}
.footer-contact-info li .icon-holder span.flaticon-gps:before {
    position: relative;
    top: 3px;
    font-size: 20px;
}
.footer-contact-info li .text-holder {}
.footer-contact-info li .text-holder h5 {
    /*color: #4a4a4a;*/
    font-size: 16px;
    /*font-weight: 300;*/
    line-height: 26px;
}


footer .footer-social-icons { margin-bottom:30px}

footer .footer-social-icons li {}

footer .footer-social-icons a {
    color: #fff;
    display: inline-block;
    background: transparent;
    margin-right: 1rem; 
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    
    border:thin solid #333;
    
}

footer .footer-social-icons i {
   
    
}

footer .copyrights {
   color:#777;
    
}

footer .copyrights a{
   color:#fff;
    
}

.footer {
    padding: 3rem 0 3rem;
}

.footer-base {
    border-top: 1px solid #333;
    margin-top: 3rem;
    padding: 2rem 0 1rem;
}

.footer-base-links li {
    margin-right: 2rem
}

.footer-base-links a {
    color: #043da4;
}

#page-title {
    
}

#page-title h2{
    margin-bottom: 0.5rem
}

.profile-image img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}


.panel-filter .panel-block{
    display:block !important;
}

#page-main{
    position:relative;
  overflow: hidden;
}

.page-side-bg{
    bottom: 0;
    left: 50%;
    position: absolute;
    right: 0;
    top: 0;
    @include mobile{
        display: none;
    }
}

.page-main-container{
    display:flex;
    margin-top: 2px;
    @include mobile{
        display: block;
    }
}

.page-lead{
    position: relative;
    overflow: hidden;
    flex-grow: 1;
    flex-shrink: 1;
    margin-left: -3rem;
    padding: 3rem;
    background:#fff;
    @include mobile{
        padding: 3rem 1.5rem;
        margin:0;
    }
}

.page-side{
    position: relative;
    padding: 3rem 0 3rem 1.5rem;
    flex: 0 0 calc(18rem + 1.5rem);
    @include mobile{
        padding: 3rem 1.5rem;
    }
}

.page-side, .page-side-bg{
    background-color: #f5f5f5;
}

.page-heading{
    border-bottom: 1px solid #ddd;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
}

.filter-box {
    margin-bottom: 2rem !important;
}

.widget{

}

.widget + .widget{
    margin-top:2.5rem;
}

h4.widget-title{
    border-bottom:thin solid #dbdbdb;
    padding-bottom: .5rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    color:#333;
    font-weight: 500;
}


.widget-content{
    font-size:.93rem;
}

.widget-content p{
    margin-bottom: .4rem;
    color: #666;
}



@media screen and (min-width:768px) {

}

@media screen and (max-width:768px) {
    footer .container{
         padding:0 15px 15px;   
    }
    .footer-base .container{
         padding:0 15px 30px;   
    }
    
    .banner-caption {
    padding:15px;
        text-align: center;
}
}

.theme-blue .vdatetime-popup__header,
.theme-blue .vdatetime-calendar__month__day--selected > span > span,
.theme-blue .vdatetime-calendar__month__day--selected:hover > span > span {
    background: $theme-color;
}

.theme-blue .vdatetime-year-picker__item--selected,
.theme-blue .vdatetime-time-picker__item--selected,
.theme-blue .vdatetime-popup__actions__button {
    color: $theme-color;
}

[v-cloak] {display: none}