.main-heading h2.card-header-title {
    color: #35434e;
    font-weight: 500 !important;
    margin:0;
    font-size:2rem;
}

.main-heading .card-header-icon {
    color:#1b8aec;
    font-size:1.5em;
}