// Set Primary Colors

$theme-color : #1b8aec;
$theme-color-alt : #1062e4;

$theme-grey : #f7f7f7;

$primary : $theme-color;

$divider-font-size : $size-7;

$font-family-headings : 'Poppins', sans-serif;

//$font-family-body: 'Nunito', sans-serif !important;
$font-family-body: $family-sans-serif;
