/*.page-header.navbar .page-logo {
	background-color:#fff;
}

.page-header.navbar .page-logo {
	float: left;
	display: block;
	width: 285px;
	height: 65px;
	padding-left: 20px;
	padding-right: 20px;
}
.page-header.navbar .page-logo .logo-default {
	margin: 14px 10px 0 0px;
}*/

.tabbable-custom > .tab-content {
	padding: 30px;
}
.dashboard-stat2 .display {
	margin-bottom: 0px;
}
.dashboard-stat2 {
	margin-bottom: 0px;
}
/*.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a > i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a > i, .page-sidebar .page-sidebar-menu > li.active > a > i, .page-sidebar .page-sidebar-menu > li.active.open > a > i {
	color: #046F2F;
}*/

.mjs-nestedSortable-error {
	background: #fbe3e4; border-color: transparent;
}

ol {
	margin: 0; padding: 0;
	list-style: none;
}

ol.sortable-page,ol.sortable-page ol {

}

ol.sortable-page{
	list-style: none;
}

.sortable-page li {
	margin: 15px 0 15px 0; padding: 0;
	cursor: move;
}

.sortable-page li ol{
	padding-left:30px;
}

.sortable-page li>div.box{
	border: 1px solid #d4d4d4;
	padding: 10px 15px;
	margin: 0;
	background: #f6f6f6;
}
.sortable-page li div.box a.link {
	color:#333;
	font-weight: normal;
}

.sortable-page .caret-h i {
	color:#333;
	font-size: 20px;
}

.page-header.navbar .page-top {
	box-shadow: 0px 1px 10px 0px rgba(50, 50, 50, 0.2);
	background: #101010;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-toggle:hover {
	background: none;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown-user > .dropdown-toggle > .username {
	color: #bfbfbf;
}


.navbar-brand {
	float: left;
	height: 50px;
	padding: 22px 15px 0;
	font-size: 22px;
	line-height: 20px;
	color:#bfbfbf !important;
}

.nav>li>a:focus, .nav>li>a:hover {
	text-decoration: none;
	background: none;
}


.dataTables_wrapper .dataTables_processing {
	width: 200px;
	display: inline-block;
	padding: 7px;
	left: 40%;
	position: absolute;
	margin-left: 0;
	margin-top: 10px;
	text-align: center;
	color: #bfbfbf;
	border: 1px solid #e7ecf1;
	background: #101010;
	vertical-align: middle;
	-webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
}

.sidebar-group{
	padding: 10px 15px 10px 15px !important;
	color:#eeeeee;
}

.page-sidebar .page-sidebar-menu.page-sidebar-menu-compact > li > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-compact > li > a {
	text-align: left;
	min-height: 40px !important;
	padding: 10px 15px 10px 15px !important;
}